/* Fots files */
.ral-reg {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.ral-med {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.ral-seb {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.ral-bol {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.ral-exb {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
.mon-lgt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.mot-exl {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
/* header section */
#header {
  width: 100%;
  height: 765px;
}
#header img {
  position: absolute;
}
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 765px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header-logo img {
  position: absolute;
  margin-top: 20px;
}
.header-logo p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  margin-left: 80px;
  margin-top: 25px;
}
.header-nav {
  margin-top: 30px;
}
.header-nav a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header-nav a:hover {
  color: #c7b299;
}
.header-ikons {
  margin-top: 25px;
}
.header-ikons-nav-item-card {
  margin-left: -55px;
}
.header-ikons-nav-item-search {
  margin-left: 15px;
}
/* SLICK SLIDER */
.slider-show {
  text-align: center;
}
.slider-show-content {
  margin-top: 150px;
  color: #fff;
  outline: none;
}
.slider-show-content h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 36px;
}
.slider-show-content h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 52px;
}
.slider-show-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.slider-show-content button {
  margin-top: 30px;
  width: 170px;
  height: 55px;
  background-color: #998675;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
.slick-arrow-left {
  left: -50px;
  top: 265px;
}
.slick-arrow-rigth {
  right: -50px;
  top: 265px;
}
.slick-dots li {
  top: 175px;
}
.slick-dots li button:before {
  width: 10px;
  height: 10px;
  background-color: #939395;
  border-radius: 5px;
  border: 0.5px solid #fff;
  color: transparent;
}
.slick-dots li.slick-active button:before {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 5px solid #fff;
  color: transparent;
}
/* ideas section */
#ideas {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.ideas-content {
  margin-top: 65px;
  text-align: center;
}
.ideas-content:hover {
  color: #c7b299;
  transition: 0.5s;
}
.ideas-content:hover h3 {
  color: #c7b299;
  transition: 0.5s;
}
.ideas-content:hover p {
  color: #9b9b9b;
}
.ideas-content:hover .ideas-content-line {
  background-color: #c7b299;
}
.ideas-content i {
  font-size: 35px;
}
.ideas-content h3 {
  color: #555555;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 20px;
}
.ideas-content p {
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
}
.ideas-content-line {
  background-color: #fff;
  display: inline-block;
  width: 70px;
  height: 3px;
  transition: 0.5s;
}
.ideas-sketch {
  text-align: center;
  margin-top: 100px;
}
.ideas-sketch h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}
.ideas-sketch p {
  margin-top: 15px;
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.ideas-sketch-img-1 {
  position: absolute;
  left: 185px;
  top: 150px;
  width: 770px;
  height: 482px;
  z-index: 110;
}
.ideas-sketch-img-2 {
  position: absolute;
  left: -45px;
  top: 232px;
  width: 770px;
  height: 400px;
  z-index: 108;
}
.ideas-sketch-img-3 {
  position: absolute;
  left: 415px;
  top: 232px;
  width: 770px;
  height: 400px;
  z-index: 109;
}
.ideas-footer {
  position: relative;
  margin-top: 565px;
  z-index: 19;
}
.ideas-footer h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
.ideas-footer h2 span {
  color: #c7b299;
}
.ideas-footer p {
  color: #615855;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.ideas-footer button {
  margin-top: 5px;
  width: 170px;
  height: 50px;
  background-color: #998675;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
.img-bg-low-footer {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 990px;
  z-index: 12;
}
/* project section */
#project {
  margin-top: 20px;
}
.project-headline {
  text-align: center;
  margin-top: 55px;
}
.project-headline h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}
.project-headline p {
  margin-top: 15px;
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.project-content {
  padding-top: 30px;
}
.project-content:hover #mask_project {
  position: absolute;
  width: 371px;
  height: 251px;
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  z-index: 169;
}
.project-content:hover img {
  z-index: 10;
}
.project-content img {
  width: 371px;
  height: 251px;
  z-index: 10;
}
.project-content h5 {
  margin-left: 35px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
}
.project-content p {
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
}
.project-btn {
  padding: 70px;
  text-align: center;
}
.project-btn button {
  margin-top: 5px;
  width: 170px;
  height: 50px;
  background-color: #998675;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
#mask_project {
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #998675;
}
